<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.lolland.dao.CommonDao">
  <insert id="insAuctionMember" >
  INSERT INTO AUC_TARGET (
	                       AUC_CD
	                     , AUC_SEQ
	                     , NO, NICK
	                     , TIER
	                     , MROLE
	                     , SROLE
	                     , LEADERFLG
	                     , USE_YN
	                     , REG_DT
	                     , RANDOMCODE
	                     , POINT
	                     )
                  VALUES (
					       #{AUC_CD}
					     , #{AUC_SEQ}
					     , #{NO}
					     , #{NICK}
					     , #{TIER}
					     , #{MROLE}
					     , #{SROLE}
					     , #{LEADERFLG}
					     , 'Y'
					     , NOW()
					     , #{RANDOMCODE}
					     , 0
					     )
  </insert>
  <update id="updAuctionStatus" >
  UPDATE AUC_TARGET 
     SET USE_YN = 'N'
   WHERE AUC_CD = #{seq_params}
  </update>
</mapper>
